#gameScreen {
    border: 2px solid tomato;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    background-color:tomato;
}

#letterButtonsContainer {
    border: 2px solid cornflowerblue;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    background-color: cornflowerblue
}

#guessingWord {
    font-size: 32px;
    font-weight: bold;
}

h1, h2, h3 {
    color: whitesmoke;
 	font-family: 'Roboto', sans-serif;
 	font-weight: 100;
 	text-transform: uppercase;
    margin:5px 0;
    text-align:center;
    padding-top:50px;
 }

 h1 {
    font-size: 100px;
    
 }
 ul{
     text-align: center;
 }
  
  body {
     background-color:lightblue;
 } 
 
 p {
     color:purple;
     font-family: 'Roboto', sans-serif;
 	font-weight: 100;
 	text-transform: uppercase;
    margin:5px 0;
    font-size: 50px;
    text-align:center;
    padding-top:100px;
 }
 button { 
     text-align: center;
 	font-family: 'Roboto', sans-serif;
 	font-weight: 500;
    font-size: 15px;
    margin:5px 0;
    text-align:center;
    padding-top:5px;
    background-color: whitesmoke
 }

/* Hangman Area */
.Scaffold{
    display: block;
    margin: 0 auto;
    padding-top: 50px
}