#gameScreen {
    border: 2px solid tomato;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    background-color: tomato;
}

#letterButtonsContainer {
    border: 2px solid cornflowerblue;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    background-color: cornflowerblue
}

#guessingWord {
    font-size: 32px;
    font-weight: bold;
}

h1, h2, h3 {
    color: whitesmoke;
 	font-family: 'Roboto', sans-serif;
 	font-weight: 100;
 	text-transform: uppercase;
    margin:5px 0;
    text-align:center;
    padding-top:100px;
 }

 h1 {
    font-size: 100px;
     
 }
 ul{
     text-align: center;
 }
  
  body {
     background-color:lightblue;
 } 
 
 p {
     color:purple;
     font-family: 'Roboto', sans-serif;
 	font-weight: 100;
 	text-transform: uppercase;
    margin:5px 0;
    font-size: 50px;
    text-align:center;
    padding-top:100px;
 }
 button { 
     text-align: center;
 }

/* Hangman Area */
.hang-container {
    margin-top:10px;
    margin-right:90px;
    width:200px;
    height:205px;
    float:right;

}

 .scaffold-top {
     width:108px;
     height:5px;
     background:#332915;
 }

 .scaffold-left {
     width:5px;
     height:200px;
     background:#332915;
     float:left;
 }

 .scaffold-base {
     width:150px;
     height:5px;
     background:#332915;
 }
 
 .draw-area {
     width:200px;
     height:200px;
     text-align:center;
 }